body {
  height: 100vh;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  margin: 0px;
  font-family: kumbh sans;
}
/*.App {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
input {
  width: 1000px;
  height: 40px;
  border-radius: 5px;
  border-width: thin;
  border-color: #ffbba1;
}
button {
  height: 40px;
  background-color: #ffbba1;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
  width: 50px;
}
.movie-card {
  width: 230px;
  height: 200px;
  border: solid;
  border-width: thin;
  margin-top: 20px;
  margin-right: 20px;
  border-color:#ffbba1;
  border-radius: 5px;
  padding: 15px;

}
img {
  width: 230px;
  height: 160px;
}
p {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}